{% extends 'shop/basic.html' %}
{% block title %} Blog - My Ecommerce website {% endblock %}
{% block body %}


<div class="container my-4">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-sm-3  g-3 my-4">
      {% for items in myposts %}

        <div class="col">
          <div class="card shadow-sm">
            <img src='/media/{{items.thumbnail}}' class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>

            <div class="card-body">
              <strong class="d-inline-block mb-2 text-primary">{{items.head1}}</strong>
              <h3 class="mb-0">{{items.title}}</h3>
              <p class="card-text">{{items.content_head1}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                  <a  href="/blog/blogpost/{{items.post_id}}" >Continue reading....</a>

                </div>
                <small class="text-muted">{{items.pub_date}}</small>
              </div>
            </div>
          </div>
        </div>
      {% if forloop.counter|divisibleby:3 %}

      </div><div class="row row-cols-1 row-cols-sm-2 row-cols-sm-3  g-3 my-4">









<!--    <div class="col-md-6">-->
<!--      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">-->
<!--        <div class="col p-4 d-flex flex-column position-static">-->
<!--          <strong class="d-inline-block mb-2 text-primary">{{items.head1}}</strong>-->
<!--          <h3 class="mb-0">{{items.title}}</h3>-->
<!--          <div class="mb-1 text-muted">{{items.pub_date}}</div>-->
<!--          <p class="card-text mb-auto">{{items.content_head1}}</p>-->
<!--          <a href="/blog/blogpost/{{items.post_id}}" class="stretched-link">Continue reading</a>-->
<!--        </div>-->
<!--        <div class="col-auto d-none d-lg-block">-->
<!--          <img src='/media/{{items.thumbnail}}' class="bd-placeholder-img" width="200" height="250"    aria-label="Placeholder: Thumbnail"><title>Placeholder</title>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->



  {% endif%}


  {% endfor %}
</div>
{% endblock %}


  {% block js %}
<script>
<!--    Find out the cart items from the local storage -->
    if(localStorage.getItem('cart') == null){
    var cart = {};
    }
    else{
    cart = JSON.parse(localStorage.getItem('cart'));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
    }
</script>
{% endblock %}